/*Criando variáveis para armazenar as propriedades*/

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
:root{
    --cor-de-fundo: #1e1e1e;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

*{
    font-family: "Chakra Petch", sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
   
}


/*------------------Conteúdo Principal colocando todas no centro da página----------------------*/

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;/*0 para top e botton e auto left e right*/

}


/*------------------ Colocando título a esquerda ----------------------*/
.titulo-principal {
    /* para utilizar text align temos que colocar largura 100% para ele poder utilizar essa largura*/
    text-align: left;
    width: 100%;
    font-size: 32px;
}


/*------------------ Mudando a cor do underline utilizando a tag span  ----------------------*/
.titulo-principal span{
    color: var(--verde);
}

/*------------------ Estilizando os botões  ----------------------*/

.botao {
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1rem;/*mesma coisa 16px*/
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}


/*Criando pseudo elementos para estilizar os botões*/
.botao:first-child{
    border-radius: 40px 40px 0 0 ;/*primeiro botão para estilizar*/
}


/*------------------ Estilizando os botões  colocando um em baixo ----------------------*/

.botoes {
    display: block;
}

@media screen  and (min-width: 768px ){
    .botoes{
        display: flex;/*funciona colocando um ao lado do outro até chegar 768px ai depois fica em blocos ou seja menor fica em blocos*/
    }

    .botao:first-child{
    border-radius: 40px 0 0 0 ;/* botão para estilizar ficando arredondado superior esquerdo apenas*/

    }
 

    .botao:last-child{
        border-radius: 0 40px 0 0 ;/*Último botão para estilizar  ficando arrendondado apenas a direita*/
    
    }

}

.botao.ativo {
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

.abas-textos{
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
/*Para mostrar na tela quando a classe receber ativo*/
.aba-conteudo.ativo{
    display: block;
}
/*não Mostrar na tela*/
.aba-conteudo {
    display: none;
}

.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}

.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--verde);
    text-transform: uppercase;
}